/* 
    overflow: hidden; 
    
    background-color: color(num, %, 透明度%)

    display: grid; 
    grid-template-column: 4 columns 1fr
*/
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body{
    display: flex; justify-content: center; align-items: center;
}
.display{
    width: 100%;
    max-width: 500px;
    height: 95vh;
    background-color: black;
    border-radius: 30px;
    padding:15px ;margin: 20px;
}
.inpu-num{
    width: 100%;
    background-color: rgb(63, 63, 63);
    border-radius: 30px;
    margin: 0 0 10px 0;
}
.cal{
    border-radius: 30px;
    border: none;
    width: 100%; 
    padding: 20px;
    font-size: 2.5rem;
    background-color: rgb(63, 63, 63);
    color:white;
}
.calculate{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    padding: 5px;
}
button{
    font-size: 4rem;
    border-radius: 50px;
    color: white;
    background-color: rgb(35, 35, 35);
    border: none;
    padding: 5px;
    width: 100px;
    height: 100px;
    cursor: pointer;
}
button:hover{
    background-color: rgb(60, 60, 60);
}
.operat-btn{
    background-color: #f6a205;
}
.operat-btn:hover{
    background-color: #f4b136;
}